@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   CUSTOM                                   */
/* -------------------------------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%; */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  /* .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

       --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    font-family: var(--font-geist-sans);
    /* font-family: var(--font-geist-mono); */
  }

  .bg-gradient {
    /* background-image: radial-gradient(
      circle,
      #e6efff,
      #e9f1ff,
      #edf2ff,
      #f0f4ff,
      #f3f6ff,
      #f2f6fe,
      #f0f6fe,
      #eff6fd,
      #e8f4fa,
      #e1f2f7,
      #dbeff1,
      #d6edeb
    ); */
    background: radial-gradient(
      circle at 10% 20%,
      rgb(222, 168, 248) 0%,
      rgb(168, 222, 248) 21.8%,
      rgb(189, 250, 205) 35.6%,
      rgb(243, 250, 189) 52.9%,
      rgb(250, 227, 189) 66.8%,
      rgb(248, 172, 172) 90%,
      rgb(254, 211, 252) 99.7%
    );
    background: radial-gradient(
      290px at 8.6% 46.4%,
      rgb(255, 148, 148) 7.8%,
      rgb(255, 223, 155) 32.2%,
      rgb(255, 247, 177) 48.1%,
      rgb(216, 255, 177) 61%,
      rgb(177, 255, 253) 75.3%
    );
    background: linear-gradient(
      122.3deg,
      rgb(111, 71, 133) 14.6%,
      rgb(232, 129, 166) 29.6%,
      rgb(237, 237, 183) 42.1%,
      rgb(244, 166, 215) 56.7%,
      rgb(154, 219, 232) 68.7%,
      rgb(238, 226, 159) 84.8%
    );
    background: linear-gradient(
      101.9deg,
      rgb(253, 183, 220) 25%,
      rgb(240, 213, 190) 38.1%,
      rgb(249, 240, 206) 55.5%,
      rgb(253, 244, 210) 67.3%,
      rgb(222, 248, 226) 85.2%,
      rgb(200, 247, 242) 103.6%
    );

    /* background: linear-gradient(to top, #09203f 0%, #537895 100%); */
    background: radial-gradient(
      343px at 46.3% 47.5%,
      rgb(242, 242, 242) 0%,
      rgb(241, 241, 241) 72.9%
    );
  }
}
